<h1>Admin Dashboard</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Products:</th>
      <th>Categories:</th>
    </tr>
  </thead>
  
  <tr>
    <td><%= @product_count %></td>
    <td><%= @category_count %></td>
  </tr>
</table>

<%= link_to 'Products', [:admin, :products] %>

