<table class="table table-bordered" style="table-layout:fixed;">

<tbody>
  <tr>
    <th><%= category.id %></th>
    <th ><%= category.name %></th>
    <th><%= category.created_at.strftime("%d/%m/%Y") %></th>
  </tr>
</tbody>
</table>